
.thTitle {
  text-transform: uppercase !important;
    font-weight: 700 !important;
    font-size: 0.875rem !important;
    letter-spacing: 0.01em !important;
    line-height: 32px !important;
    text-align: left !important;
    color: #99999f !important;   
}

.margin span {
    margin-left:2rem !important;
}

.theme--light.v-data-table > .v-data-table__wrapper > table > tbody > tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
  background-color: transparent !important;
}