
.thTitle {
  text-transform: uppercase !important;
    font-weight: 700 !important;
    font-size: 0.875rem !important;
    letter-spacing: 0.01em !important;
    line-height: 32px !important;
    text-align: left !important;
    color: #99999f !important;   
}

.margin span {
    margin-left:32px !important;
}