// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;


$btn-border-radius: 40px;

$btn-font-weight: 400;

$body-font-family: 'Lato', sans-serif;
$title-font: 'Lato', sans-serif;
$heading-font-family: 'Lato', sans-serif;

$headings: (
  'h1': (
    'size': 1.5rem,
    'line-height': 52px,
    'latter-spacing': 10px,
    'color': green
  ),
 
);